/* custom.css */
.navbar {
  transition: all 0.3s ease-in-out;
  padding: 15px 20px;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-transparent {
  background: transparent;
}

.navbar-solid {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: none;
}

.navbar-brand img {
  width: 180px; /* Adjust as needed */
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1.3rem; /* Increase text size */
  padding: 15px 20px; /* Increase spacing */
}

.navbar-collapse {
  display: flex;
  justify-content: center; /* Centers items horizontally */
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* Spreads out the items evenly */
}